@switch (layout()) {
  @case (ButtonLayout.filled) {
    <button
      class="block w-full p-2.5 bg-sky-600 text-sm text-white font-semibold cursor-pointer rounded-md hover:bg-sky-700"
      [disabled]="isDisabled()"
      (click)="onClick.emit($event)">
      {{ label() }}
    </button>
  }
  @case (ButtonLayout.outline) {
    <button
      class="block w-full p-2.5 bg-white text-sm text-gray-900 font-semibold cursor-pointer rounded-md inset-ring-1 inset-ring-gray-300 hover:bg-gray-100"
      [disabled]="isDisabled()"
      (click)="onClick.emit($event)">
      {{ label() }}
    </button>
  }
}
