@switch (layout()) {
  @case (ButtonLayout.filled) {
    @if (!isDisabled()) {
      <button
        class="block w-full p-2.5 bg-sky-600 text-sm text-white font-semibold cursor-pointer rounded-md hover:bg-sky-700"
        [disabled]="isDisabled()"
        (click)="onClick.emit($event)">
        {{ label() }}
      </button>
    } @else {
      <button
        class="block w-full p-2.5 bg-neutral-600 text-sm text-neutral-400 font-semibold rounded-md"
        [disabled]="isDisabled()"
        (click)="onClick.emit($event)">
        {{ label() }}
      </button>
    }
  }
  @case (ButtonLayout.outline) {
    <button
      class="block w-full p-2.5 bg-neutral-900 text-sm text-white font-semibold cursor-pointer rounded-md inset-ring-1 inset-ring-white hover:bg-sky-600 hover:inset-ring-sky-600"
      [disabled]="isDisabled()"
      (click)="onClick.emit($event)">
      {{ label() }}
    </button>
  }
}
