<div class="flex flex-col h-full gap-4">
  <div class="flex justify-between items-center h-11">
    <h1 class="text-xl">{{ header | translate }}</h1>
    <app-button
      [label]="'product-module.product-base-form-component.save' | translate"
      [width]="'w-32'"
      [layout]="ButtonLayout.greenLayout"
      (onClick)="submit()">
    </app-button>
  </div>
  <div class="border-t"></div>
  <form class="flex flex-col" [formGroup]="form">
    <div class="flex items-center h-11">
      <h2 class="text-xl">{{ 'product-module.product-base-form-component.properties' | translate }}</h2>
    </div>
    <div class="flex flex-row flex-wrap gap-4">
      <div class="flex flex-col flex-auto">
        <app-input
          formControlName="name"
          [errorCode]="errorCode('name')"
          [label]="'product-module.product-base-form-component.name' | translate"
          [required]="true">
        </app-input>
      </div>
      <div class="flex flex-col flex-auto">
        <app-input-select
          formControlName="categoryId"
          [errorCode]="errorCode('categoryId')"
          [label]="'product-module.product-base-form-component.choose-category' | translate"
          [items]="categoryItems"
          [required]="true">
        </app-input-select>
      </div>
    </div>
  </form>
</div>
