<div class="flex justify-center lg:block max-w-268 mx-auto">
  <div class="flex flex-col gap-8 lg:flex-row">
    <div class="bg-neutral-900 p-4 rounded-xl w-130">
      <h1 class="text-2xl text-center text-white font-semibold">
        {{ 'auth-module.login-component.sign-in' | translate }}
      </h1>
      <form [formGroup]="form" (ngSubmit)="login()">
        <app-input
          [errorCode]="errorCode('email')"
          label="{{ 'auth-module.login-component.email' | translate }}"
          formControlName="email"
          placeholder="{{ 'auth-module.login-component.enter-your-email' | translate }}"
          [type]="InputType.email"></app-input>
        <app-input
          [errorCode]="errorCode('password')"
          label="{{ 'auth-module.login-component.password' | translate }}"
          formControlName="password"
          placeholder="{{ 'auth-module.login-component.enter-your-password' | translate }}"
          [type]="InputType.password"></app-input>
        <app-button label="{{ 'auth-module.login-component.sign-in' | translate }}"></app-button>
      </form>
    </div>
    <div class="bg-neutral-900 p-4 rounded-xl w-130">
      <h1 class="text-2xl text-white font-semibold mb-4 text-center">
        {{ 'auth-module.login-component.dont-you-have-an-account' | translate }}
      </h1>
      <h2 class="text-xl text-white font-semibold mb-4">
        {{ 'auth-module.login-component.dont-worry-and-do this-right-now' | translate }}
      </h2>
      <div class="flex py-1 text-white font-semibold">
        <app-icon [iconName]="IconType.userGroup"></app-icon>
        <h3 class="text-l ml-2">{{ 'auth-module.login-component.our-users-have' | translate }}</h3>
      </div>
      <div class="flex py-1 text-white font-semibold">
        <app-icon [iconName]="IconType.envelope"></app-icon>
        <p class="ml-2">{{ 'auth-module.login-component.newsletter-with-current-information' | translate }}</p>
      </div>
      <div class="flex py-1 text-white font-semibold">
        <app-icon [iconName]="IconType.rocketLaunch"></app-icon>
        <p class="ml-2">{{ 'auth-module.login-component.possibilities-of-faster-shopping' | translate }}</p>
      </div>
      <div class="flex py-1 text-white font-semibold">
        <app-icon [iconName]="IconType.eye"></app-icon>
        <p class="ml-2">{{ 'auth-module.login-component.access-to-order-status-and-purchase-history' | translate }}</p>
      </div>
      <div class="flex py-1 text-white font-semibold">
        <app-icon [iconName]="IconType.share"></app-icon>
        <p class="ml-2">{{ 'auth-module.login-component.sharing-product-reviews' | translate }}</p>
      </div>
      <div class="flex justify-center mt-2 py-2 text-white">
        <app-icon [iconName]="IconType.arrowDownCircle" iconStyle="size-10 animate-bounce stroke-1"></app-icon>
      </div>
      <app-button
        label="{{ 'auth-module.login-component.sign-up' | translate }}!"
        (onClick)="navigateToRegister()"></app-button>
    </div>
  </div>
</div>
