<div class="w-72 bg-neutral-900 rounded-tr-xl mr-8">
  <div class="{{ asideStyle() }} flex flex-col flex-1">
    <div class="flex justify-between items-center h-14 w-full px-4 py-2">
      <div class="flex gap-2 items-center">
        @if (setCloseButton()) {
          <app-button-small-icon [icon]="IconType.xMark" iconStyle="size-5" (onClick)="onCloseMenu.emit()">
          </app-button-small-icon>
        }
        <header class="text-xl text-white font-semibold">{{ header() }}</header>
      </div>
      @if (parentId()) {
        <app-button-small-icon [icon]="IconType.arrowUturnLeft" iconStyle="size-5" (onClick)="undoLevel()">
        </app-button-small-icon>
      }
    </div>
    <ul class="p-2 overflow-auto">
      @for (currentItem of currentItems(); track $index) {
        <li class="px-2 py-1 cursor-pointer hover:bg-neutral-800">
          <div class="flex justify-between items-center h-8">
            <a
              class="block w-full text-white font-semibold"
              [routerLink]="currentItem.link"
              (click)="onCloseMenu.emit()">
              {{ currentItem.name | translate }}
            </a>
            @if (currentItem.subCategories.length != 0) {
              <app-button-small-icon
                iconStyle="size-4"
                [icon]="IconType.chevronRight"
                [layout]="ButtonLayout.filled"
                (click)="nextLevel(currentItem)">
              </app-button-small-icon>
            }
          </div>
        </li>
      }
    </ul>
  </div>
</div>
