<div class="flex flex-col w-72 bg-neutral-900">
  <div class="flex w-full justify-between items-center pb-4 border-b border-neutral-700">
    <span class="text-white font-semibold">
      {{ 'shop-module.add-product-to-purchase-list-component.save-on-a-list' | translate }}
    </span>
    <app-button-icon
      [icon]="IconType.xMark"
      [iconStyle]="'size-5'"
      [layout]="ButtonLayout.outline"
      (click)="close()"></app-button-icon>
  </div>
  @if (authService.user$ | async) {
    @if (isOpenAddForm()) {
      <app-small-purchase-list-form (onClick)="isOpenAddForm.set(false)"></app-small-purchase-list-form>
    } @else {
      <app-button
        class="mt-2"
        [label]="'shop-module.add-product-to-purchase-list-component.add-a-new-list' | translate"
        (onClick)="isOpenAddForm.set(true)">
      </app-button>
    }
  }
  <form [formGroup]="form">
    <div formArrayName="purchaseLists">
      @for (purchaseList of purchaseListsForm().controls; track $index) {
        <div class="py-2">
          <input type="checkbox" [formControlName]="$index" />
          <span class="text-white ml-2">{{
            purchaseLists()[$index].isFavourite
              ? ('shop-module.add-product-to-purchase-list-component.favourite' | translate)
              : purchaseLists()[$index].name
          }}</span>
        </div>
      }
    </div>
  </form>
  <div class="pt-4 border-t border-neutral-700">
    <app-button [label]="'shop-module.add-product-to-purchase-list-component.ready' | translate" (onClick)="submit()">
    </app-button>
  </div>
</div>
