<div class="flex flex-col h-full bg-neutral-900">
  <div class="flex justify-between items-center h-14.5 px-4 py-2">
    <h1 class="text-xl font-semibold text-white">
      {{ header | translate }}
    </h1>
    <app-button [label]="'shop-module.ad-campaign-form-component.save' | translate" (onClick)="submit()"></app-button>
  </div>
  <div class="flex flex-col p-4">
    <div class="flex flex-row flex-auto gap-4">
      <form class="flex flex-col flex-1 gap-4" [formGroup]="form">
        <h2 class="text-xl font-semibold text-white mb-4">
          {{ 'shop-module.ad-campaign-form-component.properties' | translate }}
        </h2>
        <div class="flex flex-col flex-wrap">
          <app-input
            formControlName="name"
            [errorCode]="errorCode('name')"
            [label]="'shop-module.ad-campaign-form-component.name' | translate"
            [required]="true">
          </app-input>
          <app-toggle
            formControlName="isActive"
            [errorCode]="errorCode('isActive')"
            [label]="'shop-module.ad-campaign-form-component.active' | translate">
          </app-toggle>
          <div class="flex flex-1 gap-4">
            <app-input-date
              class="w-full"
              formControlName="start"
              [errorCode]="errorCode('start')"
              [label]="'shop-module.ad-campaign-form-component.start' | translate"
              [required]="true">
            </app-input-date>
            <app-input-date
              class="w-full"
              formControlName="end"
              [errorCode]="errorCode('end')"
              [label]="'shop-module.ad-campaign-form-component.end' | translate"
              [required]="true">
            </app-input-date>
          </div>
          <app-input-select
            formControlName="type"
            [errorCode]="errorCode('type')"
            [label]="'shop-module.ad-campaign-form-component.type' | translate"
            [items]="typeItems"
            [required]="true">
          </app-input-select>
        </div>
      </form>
      <div class="flex-1">
        <app-ad-campaign-items-table [formGroup]="form"></app-ad-campaign-items-table>
      </div>
    </div>
    @switch (mapToAdCampaignType(form.getRawValue().type)) {
      @case (AdCampaignType.Product) {
        <app-ad-campaign-products-table [formGroup]="form"></app-ad-campaign-products-table>
      }
      @case (AdCampaignType.Promotion) {
        <div class="flex gap-4">
          <app-ad-campaign-promotion class="block flex-1" [formGroup]="form"></app-ad-campaign-promotion>
          <div class="flex-1"></div>
        </div>
      }
      @default {}
    }
  </div>
</div>
