<app-table
  class="block h-[calc(100vh-6rem)] bg-neutral-900 p-4 rounded-tl-xl"
  [buttonLabel]="'auth-module.user-list-component.create-new-user'"
  [columns]="columns"
  [header]="'auth-module.user-list-component.users'"
  [idName]="'id'"
  [items]="users()"
  [isButtonAction]="(userService.hasAuthorizationPermission(AuthorizationPermission.PermissionGroupAddUpdate) | async)!"
  [isEditAction]="(userService.hasAuthorizationPermission(AuthorizationPermission.PermissionGroupAddUpdate) | async)!"
  [isRemoveAction]="(userService.hasAuthorizationPermission(AuthorizationPermission.PermissionGroupDelete) | async)!"
  [page]="pagination()"
  (onButtonAction)="navigateToCreate()"
  (onEditAction)="navigateToEdit($event)"
  (onPageClick)="changePage($event)"
  (onRemoveAction)="removeRecord($event)">
</app-table>
