@if (basketItems().length == 0) {
  <div class="flex flex-col items-center mt-20">
    <div class="bg-gray-200 rounded-full p-2">
      <app-icon class="block" [iconName]="IconType.shoppingBag" iconStyle="w-10 h-10"></app-icon>
    </div>
    <h1 class="text-2xl">{{ 'shop-module.basket-component.basket-is-empty' | translate }}</h1>
    <div>
      @if (!(userService.user$ | async)) {
        <span>
          <a class="underline hover:text-blue-600" [routerLink]="loginPath">
            {{ 'shop-module.basket-component.log-in' | translate }}
          </a>
          <span>{{ 'shop-module.basket-component.to-check-our-products-or-get-inspired' | translate }}</span>
        </span>
      } @else {
        <span>{{ 'shop-module.basket-component.check-our-product-and-get-inspired' | translate }}</span>
      }
      <div class="pt-8">
        <app-button
          [label]="'shop-module.basket-component.go-to-the-main-side' | translate"
          [routerLink]="mainPath"></app-button>
      </div>
    </div>
  </div>
} @else {
  <div class="flex justify-between mt-4">
    <h1 class="text-2xl">{{ 'shop-module.basket-component.basket' | translate }}</h1>
    <div class="flex gap-4">
      @if (userService.user$ | async) {
        <app-button
          [label]="'shop-module.basket-component.save-as-a-list' | translate"
          (onClick)="isDialogActive.set(true)">
        </app-button>
      }
      <app-button
        [label]="'shop-module.basket-component.clear-basket' | translate"
        (onClick)="basketService.clearAllItems()">
      </app-button>
    </div>
  </div>
  <div class="flex gap-4 mt-4">
    <div class="flex flex-col gap-2 w-3/4">
      @for (basketItem of basketItems(); track $index) {
        <app-basket-item
          [basketItem]="basketItem"
          [image]="images[basketItem.productFileId ?? '']"
          (basketItemChange)="changeBasketItem($event)"
          (quantityChange)="changeQuantity($event)">
        </app-basket-item>
      }
    </div>
    <div class="w-1/4">
      <div class="px-4 py-2 rounded-xl border border-gray-200">
        <div class="flex justify-between">
          <span> {{ 'shop-module.basket-component.to-pay' | translate }} </span>
          <span class="text-xl"> {{ totalAmount() }} </span>
        </div>
        <app-button
          class="block my-4"
          [label]="'shop-module.basket-component.go-to-the-order' | translate"></app-button>
        <span class="text-xs">{{
          'shop-module.basket-component.hurry-up!-products-in-the-basket-are-not-reserved!' | translate
        }}</span>
      </div>
    </div>
  </div>
  @if (userService.user$ | async) {
    <app-dialog-window
      [isDialogActive]="isDialogActive()"
      [title]="'purchase-lists-component.add-purchase-list' | translate"
      (onCloseDialog)="this.isDialogActive.set(false)">
      <app-add-purchase-list [isDialogActive]="isDialogActive()" (onSubmit)="exportToPurchaseList($event)">
      </app-add-purchase-list>
    </app-dialog-window>
  }
}
