<div class="flex flex-col h-full gap-4">
  <div class="flex justify-between items-center h-11">
    <h1 class="text-xl">{{ header() | translate }}</h1>
    <app-button
      [label]="'product-base-form-component.save' | translate"
      [width]="'w-32'"
      [layout]="ButtonLayout.greenLayout"
      (onClick)="submit()">
    </app-button>
  </div>
  <div class="border-t"></div>
  <form class="flex flex-col" [formGroup]="form">
    <div class="flex items-center h-11">
      <h2 class="text-xl">{{ 'product-base-form-component.properties' | translate }}</h2>
    </div>
    <div class="flex flex-row flex-wrap gap-4">
      <div class="flex flex-col flex-auto">
        <app-input
          formControlName="name"
          [errorCode]="errorCode('name')"
          [label]="'product-base-form-component.name' | translate"
          [required]="true">
        </app-input>
      </div>
      <div class="flex flex-col flex-auto">
        <app-input-select
          formControlName="categoryId"
          [errorCode]="errorCode('categoryId')"
          [label]="'product-base-form-component.choose-category' | translate"
          [items]="categoryItems()"
          [required]="true">
        </app-input-select>
      </div>
    </div>
  </form>
  <div class="flex flex-col flex-auto gap-4">
    <div class="flex justify-between items-center">
      <h2 class="text-xl">{{ 'product-base-form-component.product-parameters' | translate }}</h2>
      <app-button
        [label]="'product-base-form-component.add-parameter' | translate"
        (onClick)="openDialogWindow($event)">
      </app-button>
    </div>
    <app-table
      [columns]="columns"
      [idName]="'index'"
      [isEditAction]="true"
      [isRemoveAction]="true"
      [items]="productParameters()"
      (onEditAction)="editParameter($event)"
      (onRemoveAction)="removeParamter($event)">
    </app-table>
  </div>
</div>
<app-dialog-window
  [isDialogActive]="isDialogActive()"
  [title]="dialogTitle() | translate"
  (onCloseDialog)="closeDialog()">
  <app-product-property-form [editParameter]="parameterToEdit()" (onSubmit)="submitProductParameter($event)">
  </app-product-property-form>
</app-dialog-window>
