<div
  class="flex bg-neutral-800 text-gray-900 rounded-md outline-1 -outline-offset-1 outline-neutral-900 focus:outline-2 focus:-outline-offset-2">
  <button
    class="p-2 bg-neutral-800 rounded-l-md text-neutral-100 cursor-pointer hover:bg-neutral-700"
    (click)="reduce()">
    <app-icon [iconName]="IconType.minus"></app-icon>
  </button>
  <input
    #input
    class="p-2 w-12 border-x border-neutral-900 text-center text-neutral-100 outline-none"
    [value]="value()"
    (input)="transform(input)" />
  <button
    class="p-2 bg-neutral-800 rounded-r-md text-neutral-100 cursor-pointer hover:bg-neutral-700"
    (click)="increase()">
    <app-icon [iconName]="IconType.plus"></app-icon>
  </button>
</div>
