<div class="flex flex-col h-full bg-neutral-900 rounded-tl-xl">
  <div class="flex justify-between items-center h-14.5 px-4 py-2">
    <h1 class="text-xl font-semibold text-white">
      {{ 'shop-module.product-base-form-component.edit-product-base' | translate }}
    </h1>
    <app-button [label]="'shop-module.product-base-form-component.save' | translate" (onClick)="submit()"></app-button>
  </div>
  <div class="flex flex-col p-4">
    <form class="flex flex-col" [formGroup]="form">
      <h2 class="text-xl text-neutral-100 font-semibold mb-4">
        {{ 'shop-module.product-base-form-component.properties' | translate }}
      </h2>
      <div class="flex flex-row flex-wrap gap-4">
        <div class="flex flex-col flex-1">
          <app-input
            formControlName="name"
            [errorCode]="errorCode('name')"
            [isDisabled]="true"
            [label]="'shop-module.product-base-form-component.name' | translate"
            [required]="true">
          </app-input>
        </div>
        <div class="flex flex-col flex-1">
          <app-input-select
            formControlName="categoryId"
            [errorCode]="errorCode('categoryId')"
            [isDisabled]="true"
            [label]="'shop-module.product-base-form-component.choose-category' | translate"
            [items]="categoryItems"
            [required]="true">
          </app-input-select>
        </div>
      </div>
    </form>
    <app-table
      class="flex-1"
      [buttonLabel]="'shop-module.product-base-form-component.add-parameter'"
      [columns]="columns"
      [header]="'shop-module.product-base-form-component.product-parameters'"
      [idName]="'index'"
      [isButtonAction]="true"
      [isEditAction]="true"
      [isRemoveAction]="true"
      [items]="form.getRawValue().productParameters"
      (onButtonAction)="addParameter()"
      (onEditAction)="editParameter($event)"
      (onRemoveAction)="removeParamter($event)">
    </app-table>
  </div>
</div>
<app-dialog-window
  [isDialogActive]="isDialogActive()"
  [title]="dialogTitle() | translate"
  (onCloseDialog)="closeDialog()">
  <app-product-property-form
    [editParameter]="parameterToEdit()"
    [isDialogActive]="isDialogActive()"
    (onSubmit)="submitProductParameter($event)">
  </app-product-property-form>
</app-dialog-window>
