<div class="flex flex-col gap-4">
  <h1 class="text-xl font-semibold text-neutral-100">
    {{ 'shop-module.product-details-component.add-to-basket' | translate }}
  </h1>
  @if ((userService.user$ | async) && !product().userWasReviewer) {
    <app-add-update-product-review [(product)]="product" [(productReviews)]="productReviews">
    </app-add-update-product-review>
  }
  @for (productReview of productReviews(); track $index) {
    @if (isEditMode()) {
      <app-add-update-product-review
        [(product)]="product"
        [productReview]="productReview"
        [(productReviews)]="productReviews"
        (onSaved)="isEditMode.set(false)">
      </app-add-update-product-review>
    } @else {
      <app-product-rating-item
        [productReview]="productReview"
        (onEdit)="isEditMode.set(true)"
        (onRemove)="remove($event)">
      </app-product-rating-item>
    }
  }
</div>
