<app-table
  class="block h-[calc(100vh-6rem)] bg-neutral-900 p-4 rounded-tl-xl"
  [buttonLabel]="'product-module.product-base-list-component.create-new-product-base'"
  [columns]="columns"
  [header]="'product-module.product-base-list-component.products-bases'"
  [idName]="'id'"
  [items]="productBases()"
  [isButtonAction]="(userService.hasProductPermission(ProductPermission.ProductBaseAddUpdate) | async)!"
  [isEditAction]="(userService.hasProductPermission(ProductPermission.ProductBaseAddUpdate) | async)!"
  [isRemoveAction]="(userService.hasProductPermission(ProductPermission.ProductBaseDelete) | async)!"
  [page]="pagination()"
  (onButtonAction)="navigateToCreate()"
  (onEditAction)="navigateToEdit($event)"
  (onPageClick)="changePage($event)"
  (onRemoveAction)="removeRecord($event)">
</app-table>
