<div class="relative pb-6">
  @if (label()) {
    <label class="block my-1">
      <span class="text-neutral-100 font-semibold">{{ label() }}</span>
      @if (required()) {
        <sup class="text-red-600">*</sup>
      }
    </label>
  }
  <select
    #select
    class="block p-2 h-10 w-full bg-neutral-800 text-neutral-100 font-semibold rounded-md outline-1 -outline-offset-1 outline-neutral-700 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600"
    [disabled]="isDisabled()"
    [value]="value()"
    (change)="onValueChange(select)"
    (blur)="onValueChange(select)">
    @for (dropdownItem of items(); track $index) {
      <option [value]="dropdownItem.id ?? ''" [selected]="dropdownItem.id == value() ? 'selected' : ''">
        {{ dropdownItem.value }}
      </option>
    }
  </select>
  @if (errorCode()) {
    <span class="absolute text-red-600">{{ errorCode() }}</span>
  }
</div>
