<nav class="px-4 flex justify-between bg-neutral-900 mb-8">
  <div class="flex my-auto gap-2">
    @if (setMenuButton()) {
      <app-button-icon [icon]="IconType.bars3" [layout]="ButtonLayout.outline" (onClick)="onClickMenuButton.emit()">
      </app-button-icon>
    }
    <a class="my-auto text-2xl text-white font-bold italic" [routerLink]="ClientRoute.main">Future Shop</a>
  </div>
  <div class="flex">
    <ng-content></ng-content>
    <app-nav-button-dropdown [iconName]="IconType.language" [items]="langItems()"> </app-nav-button-dropdown>
    <app-nav-button-dropdown [iconName]="IconType.userCircle" [items]="userItems()"> </app-nav-button-dropdown>
  </div>
</nav>
