<nav class="flex justify-between items-center py-2">
  <a [routerLink]="ClientRoute.main">
    <img class="h-[5rem]" src="assets/logo.png" alt="logo" />
  </a>
  <div>
    <div class="flex">
      <ng-content></ng-content>
      <app-nav-button
        [iconName]="IconType.globeAlt"
        label="{{ 'nav-component.language' | translate }}"
        (mouseenter)="setDropdownLanguageVisible()"
        (mouseleave)="setDropdownLanguageVisible()">
        <app-drop-down-list
          [isVisible]="isDropdownLanguageVisible()"
          [items]="langItems()"
          [orientation]="DropDownListOrientation.right">
        </app-drop-down-list>
      </app-nav-button>
      <app-nav-button
        [iconName]="IconType.userCircle"
        label="{{ 'nav-component.account' | translate }}"
        (mouseenter)="setDropdownAccountVisible(true)"
        (mouseleave)="setDropdownAccountVisible(false)">
        <app-drop-down-list
          [isVisible]="isDropdownAccountVisible()"
          [orientation]="DropDownListOrientation.right"
          [items]="userItems()">
        </app-drop-down-list>
      </app-nav-button>
    </div>
  </div>
</nav>
