<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <h2 class="flex text-white font-semibold text-xl">
      {{ 'shop-module.user-delivery-address-component.address-details' | translate }}
    </h2>
    <app-button [label]="'shop-module.user-delivery-address-component.add-delivery-address' | translate"></app-button>
  </div>
  <div class="grid grid-cols-1 xl:grid-cols-2 3xl:grid-cols-3 gap-4">
    @for (item of userDeliveryAddresses2(); track $index) {
      <div class="flex flex-col gap-4 p-4 bg-neutral-900 border border-neutral-700 rounded-lg">
        <label class="text-white">{{ `${item.firstName} ${item.lastName}`}}</label>
        <label class="text-white">
          {{ item.apartamentNumber ? `${item.street} ${item.houseNumber}/${item.apartamentNumber}` : `${item.street} ${item.houseNumber}`}}
        </label>
        <label class="text-white">{{ `${item.postalCode} ${item.city}`}}</label>
        <label class="text-white">{{ `${item.phoneNumber}`}}</label>
        <label class="text-white">{{ `${item.email}`}}</label>
        <div class="grid grid-cols-2 gap-2">
          <app-button [label]="'Usuń'" [layout]="ButtonLayout.outline"></app-button>
          <app-button [label]="'Edytuj'" [layout]="ButtonLayout.outline"></app-button>
        </div>
      </div>
    }
  </div>
</div>
