<div class="flex flex-col gap-4 bg-neutral-900">
  <h2 class="flex text-white font-semibold text-xl">
    {{ 'auth-module.user-password-component.change-password' | translate }}
  </h2>
  <form [formGroup]="form" class="w-full">
    <app-input
      formControlName="oldPassword"
      [errorCode]="errorCode('oldPassword')"
      [label]="'auth-module.user-password-component.current-password' | translate"
      [type]="InputType.password">
    </app-input>
    <app-input
      formControlName="newPassword"
      [errorCode]="errorCode('newPassword')"
      [label]="'auth-module.user-password-component.new-password' | translate"
      [type]="InputType.password">
    </app-input>
    <app-input
      formControlName="repeatedPassword"
      [errorCode]="errorCode('repeatedPassword')"
      [label]="'auth-module.user-password-component.repeat-new-password' | translate"
      [type]="InputType.password">
    </app-input>
  </form>
  <app-button [label]="'Zapisz'" (onClick)="submit()"></app-button>
</div>
