<nav class="flex justify-center">
  <div class="flex justify-between items-center p-2 w-[91rem]">
    <a [routerLink]="ClientRoute.main">
      <img class="h-[5rem]" src="assets/logo.png" alt="logo" />
    </a>
    <div>
      <div class="flex">
        <app-nav-button
          [iconName]="IconType.globeAlt"
          label="{{ 'nav-component.language' | translate }}"
          (mouseenter)="setDropdownLanguageVisible()"
          (mouseleave)="setDropdownLanguageVisible()">
          <app-drop-down-list
            [isVisible]="isDropdownLanguageVisible"
            [items]="langItems"
            (onItemClick)="changeLang($event)">
          </app-drop-down-list>
        </app-nav-button>
        <app-nav-button
          [iconName]="IconType.shoppingBag"
          label="{{ 'nav-component.basket' | translate }}"></app-nav-button>
        <app-nav-button
          [iconName]="IconType.heart"
          label="{{ 'nav-component.favourite' | translate }}"></app-nav-button>
        <app-nav-button
          [iconName]="IconType.userCircle"
          label="{{ 'nav-component.account' | translate }}"
          (click)="login()"
          (mouseenter)="setDropdownAccountVisible(true)"
          (mouseleave)="setDropdownAccountVisible(false)">
          <app-drop-down-list [isVisible]="isDropdownAccountVisible" [orientation]="DropDownListOrientation.right">
            @if (isSignedIn) {
            <app-drop-down-list-item
              [item]="{ id: '1', value: 'nav-component.logout' }"
              (onItemClick)="logout()"></app-drop-down-list-item>
            } @else {
            <app-drop-down-list-item
              [item]="{ id: '1', value: 'nav-component.sign-in' }"
              (onItemClick)="login()"></app-drop-down-list-item>
            }
          </app-drop-down-list>
        </app-nav-button>
      </div>
    </div>
  </div>
</nav>
