<div class="flex h-full">
  <div class="min-w-48 w-1/6 mt-4 {{ isMenu ? 'block' : 'hidden' }}">
    <app-menu-aside class="flex flex-col h-full" (onClose)="changeMenu()"></app-menu-aside>
  </div>
  <div class="mt-4 px-2">
    <div
      class="p-2 border rounded cursor-pointer hover:bg-green-300 hover:border-green-300 
      {{ isMenu ? 'hidden' : 'block' }}"
      (click)="changeMenu()">
      <app-icon [iconName]="IconType.chevronRight"></app-icon>
    </div>
  </div>
  <app-aside></app-aside>
  <div class="p-4"></div>
</div>
