<div class="h-full bg-neutral-900 rounded-tl-xl">
  <div class="flex justify-between items-center h-14.5 px-4 py-2">
    <h1 class="text-xl font-semibold text-white">{{ header | translate }}</h1>
    <app-button [label]="'product-module.category-form-component.save' | translate" (onClick)="submit()"></app-button>
  </div>
  <div class="flex flex-row flex-wrap gap-4 flex-auto p-4 overflow-y-auto">
    <form class="flex flex-col flex-1" [formGroup]="form">
      <div class="flex flex-col">
        <h2 class="text-xl text-neutral-100 font-semibold mb-4">
          {{ 'product-module.category-form-component.properties' | translate }}
        </h2>
        <app-input
          formControlName="name"
          [errorCode]="errorCode('name') | translate"
          [label]="'product-module.category-form-component.name' | translate"
          [required]="true">
        </app-input>
      </div>
    </form>
    <div class="flex flex-col flex-1">
      <form class="flex flex-col gap-4" [formGroup]="form">
        <h2 class="text-xl text-neutral-100 font-semibold">
          {{ 'product-module.category-form-component.parent-category' | translate }}
        </h2>
        <app-input-select
          formControlName="parentCategoryId"
          [errorCode]="errorCode('parentCategoryId') | translate"
          [label]="'product-module.category-form-component.choose-category' | translate"
          [items]="parentItems()">
        </app-input-select>
      </form>
      <div class="flex flex-col gap-4">
        <div class="flex justify-between items-center h-11">
          <h2 class="text-xl text-neutral-100 font-semibold">
            {{ 'product-module.category-form-component.sub-categories' | translate }}
          </h2>
          <app-button
            [isDisabled]="subCategoryItems().length == 0"
            [label]="'product-module.category-form-component.add-sub-category' | translate"
            (onClick)="isDialogActive.set(true)">
          </app-button>
        </div>
        <app-table
          idName="id"
          [columns]="columns"
          [header]="'product-module.category-form-component.add-sub-category'"
          [isRemoveAction]="true"
          [items]="form.getRawValue().subCategories"
          (onRemoveAction)="removeSubCategory($event)">
        </app-table>
      </div>
    </div>
  </div>
</div>
<app-dialog-window
  [isDialogActive]="isDialogActive()"
  [title]="'product-module.category-form-component.choose-sub-category' | translate"
  (onCloseDialog)="isDialogActive.set($event)">
  <app-sub-category-form-dialog
    [items]="subCategoryItems()"
    (onClose)="isDialogActive.set(false)"
    (onValueChange)="setSubCategory($event)">
  </app-sub-category-form-dialog>
</app-dialog-window>
3
