<div class="flex flex-col gap-8 p-4 bg-neutral-900 rounded-xl">
  <div class="flex gap-4 flex-wrap">
    <div class="flex flex-1 flex-col gap-4">
      <div class="flex justify-center h-112">
        <img class="object-contain" [src]="image()" />
      </div>
      <div class="flex justify-center gap-4">
        @for (image of images(); track $index) {
          <a
            class="flex justify-center border outline-2 -outline-offset-2 outline-sky-500 rounded-xl w-24 h-24 p-2 cursor-pointer {{
              image.isShowed ? 'outline-sky-600' : ''
            }}"
            (click)="showImage($index)">
            <img class="object-contain" [src]="image.source" />
          </a>
        }
      </div>
    </div>
    <div class="flex flex-col flex-1 gap-4">
      <h1 class="text-xl text-white font-semibold">{{ product().name }}</h1>
      <span class="text-l text-white font-semibold"
        >{{ 'shop-module.product-details-component.rating' | translate }}:
        @if (product().rating > 0) {
          {{ product().rating }}
        } @else {
          {{ 'shop-module.product-details-component.no-data' | translate }}
        }
      </span>
      <span class="text-white font-semibold"
        >{{ 'shop-module.product-details-component.product-feedback' | translate }}:
        @if (product().reviewCount > 0) {
          {{ product().reviewCount }}
        } @else {
          {{ 'shop-module.product-details-component.no-data' | translate }}
        }
      </span>
      <div class="flex">
        <span class="text-xl text-white font-semibold">
          {{ product().price }}
          {{ 'common.currencies.pln' | translate }}
        </span>
      </div>
      <div class="flex flex-wrap gap-2">
        <app-input-plus-minus [minValue]="startQuantity" [(value)]="quantity"></app-input-plus-minus>
        <div class="flex flex-auto gap-2">
          <app-button
            class="flex-auto"
            [label]="'shop-module.product-details-component.add-to-basket' | translate"
            (onClick)="addToBasket()">
          </app-button>
          <app-button-icon
            [icon]="product().isInPurchaseList ? IconType.fillHeart : IconType.heart"
            (onClick)="addToFavourite()">
            <app-drop-down [(isVisible)]="isFavouriteOpen">
              <app-add-product-to-purchase-list
                [isVisible]="isFavouriteOpen()"
                [productId]="product().id"
                (isInPurchaseListChange)="onInPurchaseListChange($event)"
                (onClose)="isFavouriteOpen.set($event)">
              </app-add-product-to-purchase-list>
            </app-drop-down>
          </app-button-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="border-t border-gray-200"></div>
  <div class="flex flex-col gap-2">
    <app-table
      idName="id"
      [columns]="columns"
      [header]="'shop-module.product-details-component.specyfication'"
      [items]="product().productParameters">
    </app-table>
    <app-product-rating [(product)]="product"></app-product-rating>
  </div>
</div>
