<app-table
  class="block h-workspace bg-neutral-900 p-4"
  [buttonLabel]="'product-module.category-list-component.create-new-category'"
  [columns]="columns"
  [header]="'product-module.category-list-component.categories'"
  [idName]="'id'"
  [items]="categories()"
  [isButtonAction]="(userService.hasProductPermission(ProductPermission.CategoryAddUpdate) | async)!"
  [isEditAction]="(userService.hasProductPermission(ProductPermission.CategoryAddUpdate) | async)!"
  [isRemoveAction]="(userService.hasProductPermission(ProductPermission.CategoryDelete) | async)!"
  [page]="pagination()"
  (onButtonAction)="navigateToCreate()"
  (onEditAction)="navigateToEdit($event)"
  (onPageClick)="changePage($event)"
  (onRemoveAction)="removeRecord($event)">
</app-table>
