<app-table
  class="block h-[calc(100vh-6rem)] bg-neutral-900 p-4 rounded-tl-xl"
  [buttonLabel]="'product-module.category-list-component.create-new-category'"
  [columns]="columns"
  [header]="'product-module.category-list-component.categories'"
  [idName]="'id'"
  [items]="categories()"
  [isEditAction]="true"
  [isRemoveAction]="true"
  [page]="pagination()"
  (onButtonAction)="navigateToCreate()"
  (onEditAction)="navigateToEdit($event)"
  (onPageClick)="changePage($event)"
  (onRemoveAction)="removeRecord($event)">
</app-table>
