<app-table
  class="block h-workspace bg-neutral-900 p-4"
  header="shop-module.promotion-list-component.promotions"
  [buttonLabel]="'shop-module.promotion-list-component.create-new-promotion'"
  [columns]="columns"
  [idName]="'id'"
  [items]="promotions()"
  [isButtonAction]="(userService.hasShopPermission(ShopPermission.PromotionAddUpdate) | async)!"
  [isEditAction]="(userService.hasShopPermission(ShopPermission.PromotionAddUpdate) | async)!"
  [isRemoveAction]="(userService.hasShopPermission(ShopPermission.PromotionDelete) | async)!"
  [page]="pagination()"
  (onButtonAction)="navigateToCreate()"
  (onEditAction)="navigateToEdit($event)"
  (onPageClick)="changePage($event)"
  (onRemoveAction)="removeRecord($event)">
</app-table>
