<header class="h-24 relative">
  <div class="fixed w-full top-0 left-0 z-10 bg-white px-4">
    <app-nav class="block max-w-364 mx-auto"></app-nav>
  </div>
</header>
<main class="max-w-364 mx-auto mt-4">
  <div class="flex justify-center">
    <div class="grid grid-cols-2 gap-4">
      @if (canShowModule(ModuleType.shopModule) | async) {
        <div>
          <div class="flex justify-center">
            <button class="p-8 border border-black rounded-md hover:bg-orange-400" (click)="navigateToShopModule()">
              <app-icon iconStyle="w-16 h-16" [iconName]="IconType.shoppingBag"></app-icon>
            </button>
          </div>
          <div class="flex justify-center">
            <span>Sklep</span>
          </div>
        </div>
      }
      @if (canShowModule(ModuleType.productModule) | async) {
        <div>
          <div class="flex justify-center">
            <button class="p-8 border border-black rounded-md hover:bg-blue-400" (click)="navigateToProductModule()">
              <app-icon iconStyle="w-16 h-16" [iconName]="IconType.rectangleStack"></app-icon>
            </button>
          </div>
          <div class="flex justify-center">
            <span>Produkty</span>
          </div>
        </div>
      }
      @if (canShowModule(ModuleType.warehouseModule) | async) {
        <div>
          <div class="flex justify-center">
            <button class="p-8 border border-black rounded-md hover:bg-yellow-400">
              <app-icon iconStyle="w-16 h-16" [iconName]="IconType.buildingStorefront"></app-icon>
            </button>
          </div>
          <div class="flex justify-center">
            <span>Magazyny</span>
          </div>
        </div>
      }
      @if (canShowModule(ModuleType.authModule) | async) {
        <div>
          <div class="flex justify-center">
            <button class="p-8 border border-black rounded-md hover:bg-green-400">
              <app-icon iconStyle="w-16 h-16" [iconName]="IconType.userGroup"></app-icon>
            </button>
          </div>
          <div class="flex justify-center">
            <span>Użytkownicy</span>
          </div>
        </div>
      }
    </div>
  </div>
</main>
